h3 {
	font-size: 15px;
	font-weight: 600
}

p {
	font-size: 82%
}

.wrapper{
	margin: auto;
	width:100%;
	height:100%;
	position:absolute;
	background:#535353;
	top:0;
	left:0;
	color:#1ED761;
	z-index:7;
	font-family:verdana;
}

.container{
	margin: auto;
	width:100%;
	height:90px;
	position:absolute;
	background:#212121;
	top:0;
	left:0;
	color:#1ED761;
	z-index:7;
	font-family:verdana;
}

header>div {
	z-index: 2;
	height: 70px;
	margin: 0 auto;
	display: block;
	position: relative;
	overflow: hidden
}

header .middle {
	position: absolute;
	text-align: center;
	margin-top: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%)
}

header .middle h3 {
	margin-bottom: 3px
}

header .middle p {
	margin-bottom: 0px;
	color: #9197a5
}

header .right {
	height: 90px;
	overflow: hidden;
	line-height: 70px;
	text-align: right;
	width: auto;
	float: right;
	position: relative
}

header .username {
	display: inline-block;
	height: 70px;
	font-size: 14px;
	line-height: 72px;
	font-weight: 600
}

header .left {
	width: 200px;
	float: left;
	position: relative
}

.col-left{
	margin-top: 90px;
	width:25%;
	position:absolute;
	background:#535353;
	top:0;
	left:0;
	color:#1ED761;
	z-index:7;
	font-family:verdana;
}

.friend-button{
	color: #fff;
	background-color: #1db954;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.col{
	margin-top: 90px;
	margin-left: 25%;
	width:50%;
	height: 900px;
	position:absolute;
	background: #212121;;
	top:0;
	left:0;
	color:#1ED761;
	z-index:7;
	font-family:verdana;
}

.col-content {
	height: 700px;
	-webkit-box-flex: 1;
	padding: 0px;
	-ms-flex: 1;
	flex: 1;
	overflow-y: auto;
}

.compose input {
	background-color: inherit;
	color: #1db954;
	width: 100%;
	border: 0px;
	font-size: 17px;
	padding-right: 80px
}

.col-message-sent{
	margin-right: 10px;
	background: #1db954;
	color: white;
}

.col-message-received{
	margin-left: 10px;
	background: white;
	color: #1db954;
}

.message-sent,
.message-received {
	max-width: 90%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding: 0.5em 0.6em;
	border-radius:5px;
	overflow-wrap: break-word;
}

.message-sent p,
.message-received p {
	margin: 0;
	line-height: 1.5
}

.col-right{
	margin-top: 90px;
	margin-left: 75%;
	width:25%;
	position:absolute;
	background:#535353;
	top:0;
	left:0;
	color:#1ED761;
	z-index:7;
	font-family:verdana;
}

.message-sent,
.message-received {
	clear: both;
	position: relative
}

.message-sent::before,
.message-received::before,
.message-sent::after,
.message-received::after {
	content: '';
	display: table
}

.message-sent p,
.message-received p {
	margin: 0;
	line-height: 1.5
}

.message-sent {
	float: right;
	color: white;
	background-color: #1db954;
	border-radius: 0.5em 0.25em 0.25em 0.5em
}

.message-sent:first-child {
	border-radius: 0.5em 0.5em 0.25em 0.5em
}

.message-sent:last-child {
	border-radius: 0.25em 0.25em 0.5em 0.5em
}

.message-sent:only-child {
	border-radius: 0.5em
}

.message-received {
	float: left;
	color: black;
	background-color: white;
	border-radius: 0.25em 0.5em 0.5em 0.25em
}

.message-received:first-child {
	border-radius: 0.5em 0.5em 0.5em 0.25em;
	margin-top: 0px
}

.message-received:last-child {
	border-radius: 0.25em 0.5em 0.5em 0.5em
}

.message-received:only-child {
	border-radius: 0.5em
}

.add-friends{
	color: #fff;
	background-color: #1db954;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.log-out{
	color: #fff;
	background-color: #1db954;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}